<%- include('./partials/nav.ejs') %> <%- include('./partials/search.bar.ejs') %>
<h1>Welcome</h1>

<div>
  <% if (query.edit !== 'true') { %>
  <a href="/profile?edit=true">Edit Profile</a>
  <% } %>
</div>

<% if (query.edit === 'true') { %>
<form method="POST" action="/profile" enctype="multipart/form-data">
  <label
    >Username:
    <input name="username" type="text" value="<%- user.username %>" />
  </label>
  <label>
    Profile Image:
    <input name="imageUrl" type="file" accept="image/png, image/jpg" />
  </label>
  <button type="submit">Save</button>
</form>
<% } else { %>
<h2><%= user.username %></h2>
<% if(profilePicture) { %>
<img src="<%= profilePicture %>" alt="image" />
<% } %> <% } %>

<a href="/potions/create">Create Potion</a>
<a href="/potions">See all Potion</a>

<form action="/sort-house" method="POST">
  <button type="submit">Sort me into a Hogwarts house!</button>
</form>

<% if (user.randomHouse !== null) { %>
<p>You are in the <%= randomHouse %> house!</p>
<% } else { %>
<p>Please press the button to sort</p>
<% } %> <% if (typeof errorMessage !== 'undefined') { %>
<p style="color: red"><%= errorMessage %></p>
<% } %>
