<%- include('./partials/nav.ejs') %> <%- include('./partials/search.bar.ejs') %>
<h1>Welcome</h1>
<h2><%= user.username %></h2>
<a href="/potions/create">Create Potion</a>
<a href="/potions">See all Potion</a>

<% if(profilePicture) { %>
<img src="<%= profilePicture %>" alt="image" />
<% } %>

<form action="/sort-house" method="POST">
  <button type="submit">Sort me into a Hogwarts house!</button>
</form>

<% if (randomHouse) { %>
<p>You are in the <%= randomHouse %> house!</p>
<% } else { %>
<p>Please press the button to sort</p>
<% } %>
