<%- include('./partials/nav.ejs') %>
<div class="profile-container">
  <div id="left">
    <% if (query.edit==='true' ) { %>
    <form method="POST" action="/profile" enctype="multipart/form-data">
      <label
        >Username:
        <input name="username" type="text" value="<%- user.username %>" />
      </label>
      <label>
        Profile Image:
        <input name="imageUrl" type="file" accept="image/png, image/jpg" />
      </label>
      <button type="submit">Save</button>
    </form>
    <% } else { %>
    <h1>Welcome <%= user.username %></h1>
    <% if(profilePicture) { %>
    <img src="<%= profilePicture %>" alt="image" />
    <% } %> <% } %>
    <div>
      <% if (query.edit !=='true' ) { %>
      <a href="/profile?edit=true">Edit Profile</a>
      <% } %>
    </div>

    <a href="/potions/create">Create Potion</a>
    <a href="/potions">See all Potion</a>
  </div>
  <div class="page-btns">
      <%- include('./partials/search.bar.ejs') %>
      <% if (user.randomHouse !==null) { %>
        <p>You are in the <%= randomHouse %> house!</p>
        <% } else { %>
          <p>Please press the button to sort</p>
          <% } %>
          <form action="/sort-house" method="POST">
            <button type="submit">Sort me into a Hogwarts house!</button>
          </form>
  </div>
</div>

<% if (typeof errorMessage !=='undefined' ) { %>
<p style="color: red"><%= errorMessage %></p>
<% } %>
